<h1>Hi, <%= @user.email %></h1>

<% if @user == current_user%>
<%=link_to "New Log", new_log_path %>
<%=link_to "Edit Profile", edit_user_path %>
<%=link_to 'Log Out', logout_path, method: :destroy %>
<%end%>


<%= @user.logs.each do |log| %>
    Calories: <%= log.calories%><br>
    Workout Time: <%=log.workout_time%><br>
    Posted at: <%=log.created_at%><br>
<%end%>
