<h1><%= @user.email %></h1>

<% if @user == current_user%>
<%=link_to "New Log", new_log_path %>
<%=link_to "Edit Profile", edit_user_path %>
<%=link_to 'Log Out', logout_path, method: :destroy %>
<%end%>


<% @user.logs.each do |log| %>
  <div class="logs">
    <br>
    Posted at: <%=time_convert log.created_at%><br>
    Calories: <%= log.calories%><br>
    Workout Time: <%=log.workout_time%><br>
    <%=link_to "Edit Log", edit_log_path(log)%>
  </div>
<%end%>
