<h1><%= @user.email %></h1>

<% if @user == current_user%>
<%=link_to "New Log", new_user_log_path(@user) %>
<%=link_to "Edit Profile", edit_user_path(@user) %>
<%=link_to "User's Log List", user_logs_path(@user) %>
<%=link_to 'Log Out', logout_path, method: :destroy %>
<%end%>

<div id="logs" data-id="<%=current_user.id%>">
  <h2 class="logCalories"></h2>

</div>

<script type="text/javascript" charset="utf-8">
$(function(){
  let userId = parseInt($("#logs").attr("data-id"))
  $.get(`localhost:3000/users/${userId}/logs.json`, function(data){
    var logs = data
  });
});
</script>

<p>Total Posts: <%= @user.logs.count %></p>
