<%=form_for @log do |f| %>

  <% if @log.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@log.errors.count, "error") %>
        occured while creating the log:
      </h2>

      <ul>
      <% @log.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <%end%>

  <%=f.hidden_field :user_id, value: current_user.id %>

  <%=f.label :calories %><br>
  <%=f.text_field :calories %><br>

  <br>
  <%=f.label :workout_time %>(mins)<br>
  <%=f.text_field :workout_time %><br>

  <br>


  <br>

  <%=f.submit %>
<%end%>
