<%=form_for @log do |f| %>
  <%=f.label :calories %><br>
  <%=f.number_field :calories %><br>

  <p><%=f.label :workout_time %><br>(mins)</p>
  <%=f.number_field :workout_time %><br>

  <%=f.submit %>

<% end %>

<%= current_user.id%>
