<p>Logged at: <%=time_convert @log.created_at%></p>
<p>Updated at: <%=time_convert @log.updated_at%></p>
<p><%=@log.calories%></p>
<p><%=@log.workout_time%></p>
<p>
  <%@log.workouts.each do |workout| %>
    <%=workout.name%>
    <%=workout.workout_type%>
  <%end%>
</p>

<%=link_to "Profile", user_path(current_user) %>
<%=link_to "Delete Log",@log, method: :delete %>
